<ion-modal-view>
<ion-header-bar>
<h1 class="title">AIS-UNERG</h1>
<div class="buttons">
    <button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content>
<div class="card">
    <div class="item item-divider" style="text-align:center">
        Acerca de esta App
    </div>
    <div class="item item-text-wrap" style="text-align:center">
        <p>
        El recibo de pago,es la anotación que sirve como comprobante de que alguien ha pagado algo. Para que exista este recibo, por lo tanto, es necesario que se haya concretado un pago con anterioridad
        </p>
    </div>
    <div class="item item-divider" style="text-align:center">
        Desarrollado por Ing. Miguel Padrón<br>Docente Área de Sistemas AIS<br>Email: mpadron@unerg.edu.ve<br>para el RRHH UNERG,  bajo la Coord. CIES-AIS<br>
        <button ng-click="closeAcerca()" class="button button-positive">Cerrar</button>
    </div>
</div>
 </ion-content>
 </ion-modal-view>
