
<ion-header-bar>
<h1 class="title">Login</h1>
<div class="buttons">
    <button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content class="has-subheader padding" ng-controller="LoginCtrl">
<div class="logo_publi">
    <img ng-src={{logo}} height="140" width="150"><br><br>

    <form ng-submit="doLogin(data)">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="data.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="data.password">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Log in</button>
            </label>
        </div>
    </form>

</div>
</ion-content>

