
<ion-header-bar>
<h1 class="title">Login</h1>
<div class="buttons">
    <button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content class="has-subheader padding">
<!-- <div class="list" ng-repeat="(key, value) in dataRecibos.Nomina | groupBy: 'Nomina'">

    <div class="item item-divider">
    <p class="year">Pagos percibidos el año {{key}}</p>
    </div>
    <div class="item item-divider item-text-wrap">
    <p class="inf-fecha">La fecha del pago puede variar respecto a la fecha de la nómina.</p>
    </div>
    <div class="item item-divider">
    <p class="mes">Enero </p>
    </div>
    <li class="item">
    <div class="row">
    <div class="col">Nómina</div>
    <div class="col">Quince</div>
    <div class="col">Último</div>
    </div>
    <div class="row" ng-repeat="r in value">
    <div class="col item-text-wrap">{{r.titulo}}</div>
    <div class="col">{{r.quincena1}}</div>
    <div class="col">{{r.qunicena2}}</div>
    </div>
    </li>
    {{dataRecibos.Nomina}}
    </div>-->
    <div class="list">

        <div class="item item-divider">
            <p class="year">Pagos percibidos el año {{dataRecibos[0].desde}}</p>
        </div>
        <div class="item item-divider item-text-wrap">
            <p class="inf-fecha">La fecha del pago puede variar respecto a la fecha de la nómina.</p>
        </div>
        <div class="cuerpo-recibo" ng-repeat="(key, value) in byTime">
            <div class="item item-divider">
                <p class="mes">Enero {{$index+1}}  {{key}}</p>
            </div>
            <li class="item">
                <div class="row">
                    <div class="col">Nómina</div>
                    <div class="col">Quince</div>
                    <div class="col">Último</div>
                </div>
                <div class="row" ng-repeat="r in value">
                    <div class="col item-text-wrap">{{r.titulo}}</div>
                    <div class="col">{{r.quincena1}}</div>
                    <div class="col">{{r.qunicena2}}</div>
                </div>
            </li>
        </div>
        {{dataRecibos.Nomina}}
    </div>
    </ion-content>
